.home-products {
  padding: 60px 0 185px;
  &__title {
    margin-bottom: 20px;
  }
  &__filter-list {
    margin-bottom: 80px;
  }
  &__items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }
}