.home-partners {
  width: 100%;
  background-color: $color-bg-4;
  padding: 265px 0 90px;
  z-index: -1;
  top: 250px;
  left: 0;
  right: 0;
  position: absolute;
  
  img {
    max-width: 100%;
    display: block;
  }

  &__inner {
    padding-left: 50px;
    padding-right: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
