.home-more {
  display: flex;
  margin-bottom: 90px;
  &__item {
    position: relative;
    width: 100%;
    background-color: $color-bg-5;
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
    line-height: 1.88;
    transition: all 0.3s ease-in-out;
    &:not(:last-child) {
      margin-right: 30px;
    }
    &--left {
      .home-more__info {
        margin-right: 180px;
      }
    }
    &:hover {
      @extend %hover-shadow;
    }
  }

  &__img-box {
  }

  &__img {
    position: absolute;
    bottom: 100px;
    left: 145px;
  }

  &__info {
    max-width: 300px;
    padding: 81px 0 96px;
    margin: auto 140px auto 0;
  }

  &__title {
    line-height: 1.23;
    @extend %font-dmsans700;
    font-size: 26px;
    color: $color-font-2;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 45px;
  }

  &__btn {
    padding: 22px 90px 18px 24px;
    border-radius: 5px;
    border: 1px solid $color-font-1;
    @extend %font-rubik500;
    color: $color-font-1;
    position: relative;
    transition: all 0.3s ease-in-out;
    &::after {
      position: absolute;
      top: 50%;
      right: 19px;
      transform: translateY(-50%);
      transition: all 0.3s ease-in-out;
      background-image: url('/images/icons/arrow-right-2.svg');
      width: 22px;
      height: 9px;
      content: '';
      fill: black;
    }
    &:hover {
      background-color: $color-font-1;
      color: #fff;
    }
    &:hover:after {
      background-image: url('/images/icons/arrow-right.svg');
      right: 10px;
    }
  }
}
