.new-design {
  &__filter-list {
    margin-bottom: 70px;
  }
  &__items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
  }
  &__link {
    &:hover {
      .new-design__title {
        color: $color-font-5;
      }
    }
  }
  &__title {
    transition: color 0.3s ease-in-out;
  }
}
