

.home-video {
  max-width: 100%;
  min-height: 500px;
  position: relative;
  background-image: url('../images/home/video-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 105px;

  &__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/icons/play-video-icon.svg');
    width: 127px;
    height: 127px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
