$maxWidthContainer: 1170;
$maxWidthWrapper: 1770;

// colors
$default-color: #7b7b7b;
$default-active-color: #191919;
$focus-color: #1f2044;
$title-color: #243f4d;
$bg-color: #ffffff;
$list-bg-color: #fef7f0;
$form-btn: #a3bbc8;
$top-slider-btn-color: #a3bbc8;
// fonts
%font-dmsans400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%font-dmsans500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%font-dmsans700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%font-rubik400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%font-rubik500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%font-poppins700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

// colors
$color-font-1: #436372;
$color-font-2: #243f4d;
$color-font-3: #414141;
$color-font-4: #585858;
$color-font-5: #234969;
$color-font-6: #7b7b7b;

$color-font-7: #1a1a1a; //section title
$color-font-8: #a3bbc8; //product price

$color-bg-1: #edf1f4;
$color-bg-2: #fcd7b6;
$color-bg-3: #a3bbc8;
$color-bg-4: #fef7f0;
$color-bg-5: #feefe2;
$color-bg-6: #f8f8f8; //new-design-item

$color-icon-1: #243f4d;
$color-icon-2: #fff;

$color-decor-1: #fde7d3;
$color-decor-2: #e8e4df;
$color-decor-3: #dae4e9;
$color-button-1: #a3bbc8;

%hover-shadow {
  box-shadow: 0px 12px 60px 6px rgba(45, 45, 45, 0.1);
}

%box-transition {
  transition: box-shadow 0.3s ease-in-out;
}