$paddingWrap: 15px;
$containerWidth: 1170px;
$wrapperWidth: 1770px;

// colors
$default-color: #7b7b7b;
// $title-color: #29282d;
// $accent-color: #fe3e57;
// $bg-color: #f6f6f6;

// fonts
%font-dmsans400 {
    font-family: DMSans-Regular, sans-serif;
    font-weight: 400;
}

%font-dmsans500 {
    font-family: DMSans-Medium, sans-serif;
    font-weight: 500;
}

%font-dmsans700 {
    font-family: DMSans-Bold, sans-serif;
    font-weight: 700;
}

%font-rubik400 {
    font-family: Rubik-Regular, sans-serif;
    font-weight: 400;
}


%font-rubik500 {
    font-family: Rubik-Medium, sans-serif;
    font-weight: 500;
}