@import 'reset';
@import 'vars';
@import 'fonts';
@import 'global';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 20px 0 30px;
}

.logo {

    &__img {}
}

.menu {

    &__list {
        display: flex;
        align-items: center;
    }

    &__list-item {

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__list-link {
        @extend %font-rubik500;
        font-size: 15px;
        color: #436372;
    }
}

.user-nav {
    display: flex;
    align-items: center;

    &__search {
        position: relative;
        display: block;
        background-color: #edf1f4;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        path {
            fill: #243f4d;
        }
    }

    &__user-box {
        width: 180px;
        background-color: #fcd7b6;
        border-radius: 25px;
        height: 50px;
        position: relative;

        &:not(:last-child) {
            margin-right: 20px;
        }

        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            content: "";
            height: 32px;
            width: 1px;
            background-color: #fde7d3;
            transform: translate(-50%, -50%);
        }
    }

    &__like {
        svg {
            position: absolute;
            top: 50%;
            left: 40px;
            transform: translate(0, -50%);
        }
    }

    &__cart {
        svg {
            position: absolute;
            top: 50%;
            right: 40px;
            transform: translate(0, -50%);
        }
    }

    &__menu {
        position: relative;
        display: block;
        background-color: #a3bbc8;
        width: 50px;
        height: 50px;
        border-radius: 50%;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }


    }
}

@import 'media';