.breadcrumbs {
  background-color: $color-bg-1;
  padding: 25px 0;

  &__title {
    text-align: center;
    @extend %font-rubik300;
    font-size: 36px;
    color: #222933;
  }

  &__list {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      padding-right: 8px;
    }
    &:not(:last-child)::after {
      content: '/';
      padding-left: 8px;
      color: #737980;
    }
  }

  &__link {
    @extend %font-rubik300;
    font-size: 14px;
    color: #737980;
    &:hover, &:focus {
      color: #222933;
    }
  }
}
