.filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-item {
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  color: $color-font-6;
  font-size: 16px;
  @extend %font-dmsans700;
  &:not(:last-child) {
     margin-right: 20px;       
  }
  &:hover {
      color: $color-font-7;
  }
  &--active {
    color: $color-font-7;
  }
}