.partners {
  width: 100%;


  
  img {
    max-width: 100%;
    display: block;
  }

  &__inner {
    padding-left: 50px;
    padding-right: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
