.product {
  // .product__tabs
  padding: 120px 0 100px;
  &__tabs {
  }
}
.product-el {
  // .product-item__inner

  &__inner {
    display: flex;
  }

  // .product-item__slide

  &__slide {
    display: flex;
  }

  // .product-item__thumbs

  &__thumbs {
  }

  // .product-item__thumb

  &__thumb {
    img {
    }
  }

  // .product-item__big-items

  &__big-items {
  }

  // .product-item__big-item

  &__big-item {
    img {
    }
  }

  // .product-item__content

  &__content {
  }

  // .product-item__title

  &__title {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
    color: #333;
    font-size: 40px;
    @extend %font-rubik400;
  }

  // .product-item__stars

  &__stars {
    display: block;
    margin-bottom: 30px;
    padding: 0;
  }

  // .product-item__price

  &__price {
    text-align: left;
    color: #333;
    font-size: 30px;
  }

  // .product-item__text

  &__text {
    margin-top: 18px;
    margin-bottom: 30px;
    max-width: 545px;
    line-height: 1.8;
    color: $color-font-2;
    font-size: 16px;
  }

  &__input {
    margin-right: 30px;
    text-align: center;
    line-height: 50px;
    .jq-number product-el__input.focused {
      border-color: darken($color-button-1, 10%);
    }
    // height: 50px;
    .jq-number__field {
      margin-left: 53px;
      border-radius: 0px;
      border-color: $color-button-1;
      box-shadow: none;
      width: 55px;
      height: 55px;
      text-align: center;
      input {
        text-align: center;
        color: #333;
        font-size: 15px;
        @extend %font-rubik400;
      }
    }
    .jq-number__spin {
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.3s ease-in-out;
      border-radius: 0px;
      border-color: $color-button-1;
      box-shadow: none;
      background: transparent;
      width: 32px;
      height: 14px;
      text-shadow: none;
      &:after {
        top: 0%;
        left: 43%;
        border: none;
        font-size: 15px;
        @extend %font-rubik400;
      }
      &:hover {
        background-color: $color-button-1;
        color: #fff;
      }
      &:active {
        background-color: darken($color-button-1, 10%);
        color: #fff;
      }
    }
    .jq-number__spin.minus {
      top: 0;
      left: 0;
      border-right: none;
      width: 55px;
      height: 55px;
      &:after {
        content: '-';
      }
    }
    .jq-number__spin.plus {
      top: 0;
      right: -17px;
      border-left: none;
      width: 55px;
      height: 55px;
      &:after {
        content: '+';
      }
    }
  }
  &__list {
    margin-top: 55px !important;
  }
  &__li {
    display: flex;
    margin-bottom: 15px;
    font-size: 16px;
    @extend %font-rubik400;
    a {
      text-decoration: none;
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  &__name {
    margin-right: 5px;
  }
  &__btn {
    position: absolute;
    border-radius: 5px;
    background-color: $color-button-1;
    padding: 17px 57px;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    @include setBgColor($color-button-1);
  }
  .slider {
    display: flex;
    margin-right: 60px;
  }

  .slider-nav {
    flex-shrink: 0;
    margin-right: 25px;
    width: 140px;
    height: 530px;
    overflow: hidden;
    .swiper-slide {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #f2f2f2;
      cursor: pointer;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .slider-main {
    border: 3px solid #f2f2f2;
    width: 390px;
    height: 530px;
    overflow: hidden;
    .swiper-slide {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
.related-products {
}

.slider {
  display: flex;
}

.slider-nav {
  flex-shrink: 0;
  margin-right: 25px;
  width: 140px;
  height: 530px;
  overflow: hidden;
  .swiper-slide {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #f2f2f2;
    cursor: pointer;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.slider-main {
  border: 3px solid #f2f2f2;
  width: 390px;
  height: 530px;
  overflow: hidden;
  .swiper-slide {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.product-tabs {
  // .product-tabs__links

  &__links {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
  }
  &__link {
    display: inline-block;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    background-color: #edf1f4;
    cursor: pointer;
    width: 240px;
    text-align: center;
    line-height: 55px;
    color: $color-font-2;
    font-size: 18px;
    @extend %font-rubik500;
    &:not(:last-child) {
      margin-right: 12px;
    }
    &:hover {
      background-color: darken(#edf1f4, 10%);
    }
    &--active {
      background-color: #a3bbc8;
      color: #fff;
      &:hover {
        background-color: #a3bbc8;
      }
    }
  }

  // .product-tabs__content

  &__content {
    margin-bottom: 100px;
  }

  // .product-tabs__item
  &__text {
  }
  &__item {
    display: none;
    &--active {
      display: block;
    }

    #product-tab-descr {
      color: $color-font-2;
      font-size: 16px;
      @extend %font-rubik400;
      p {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }

  #product-tab-info {
    margin: 0 auto;
    max-width: 850px;
    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  &__title {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    color: $color-font-2;
    font-size: 36px;
    @extend %font-dmsans700;
  }
}

// .comments {
//   margin-bottom: 25px;
//   // .comments__item

//   &__item {
//     display: flex;
//     transition: all 0.3s ease-in-out;
//     border-radius: 10px;
//     padding: 20px;
//     overflow: hidden;
//     &:hover {
//       .comments__control {
//         // display: block;
//         transform: translateY(0);
//       }
//     }
//   }

//   // .comments__img-box

//   &__img-box {
//     flex-shrink: 0;
//     margin-right: 25px;
//     border-radius: 50%;
//     width: 50px;
//     height: 50px;
//     overflow: hidden;
//   }

//   // .comments__content

//   &__content {
//     // display: flex;
//   }

//   // .comments__top

//   &__top {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }

//   // .comments__name

//   &__name {
//     display: inline-block;
//     margin-bottom: 5px;
//     font-size: 16px;
//     @extend %font-rubik500;
//   }

//   // .comments__stars

//   &__stars {
//     margin-bottom: 15px;
//     padding: 0;
//   }

//   // .comments__date

//   &__date {
//   }

//   &__text {
//     margin-bottom: 15px;
//   }
//   // .comments__bottom

//   &__bottom {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }

//   // .comments__reply

//   &__reply {
//     border-radius: 5px;
//     cursor: pointer;
//     padding: 5px 10px;
//     @include setBgColor(#edf1f4);
//   }

//   // .comments__control

//   &__control {
//     position: relative;
//     transform: translateY(500px);
//     transition: all 0.3s ease-in-out;
//     border-radius: 3px;
//     cursor: pointer;
//     width: 25px;
//     height: 15px;
//     &:hover {
//       background-color: #edf1f4;
//     }
//     &:active {
//       background-color: darken(#edf1f4, 10%);
//     }
//     &--icon {
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//       width: 15px;
//       height: 15px;
//     }
//   }
// }

// .comments-form {
//   // .comments-form__title

//   &__title {
//     margin-bottom: 20px;
//     font-size: 25px;
//   }

//   // .comments-form__rating

//   &__rating {
//     margin-bottom: 15px;
//   }

//   // .comments-form__label

//   &__label {
//     margin-right: 15px;
//     &:hover {
//       .comments-form__icon {
//         fill: #ffcc00;
//       }
//     }
//   }

//   &__radio {
//     @extend %checkbox-hidden;
//   }
//   &__icon {
//     width: 18px;
//     height: 16px;
//   }
//   // .comments-form__input

//   // .comments-form__stars

//   &__stars {
//     cursor: pointer;
//   }

//   &__inner {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 15px;
//   }
//   &__input {
//     padding: 0 20px;
//     width: 50%;
//   }
//   &__input,
//   &__text {
//     display: inline-block;
//     border: 1px solid $color-button-1;
//     height: 50px;
//     color: $color-font-2;
//     font-size: 16px;

//     &::placeholder {
//       color: $color-font-2;

//       @extend %font-rubik400;
//     }
//     &:not(:last-child) {
//       margin-right: 15px;
//     }
//   }
//   &__text {
//     margin-bottom: 10px;
//     padding: 20px;
//     width: 100%;
//     height: 200px;
//     resize: none;
//   }

//   &__btn {
//     border-radius: 5px;
//     background-color: $color-button-1;
//     padding: 17px 57px;
//     text-transform: uppercase;
//     color: #fff;
//     font-size: 15px;
//     @include setBgColor($color-button-1);
//   }
// }

.related-products {
  // box-sizing: content-box;
  // display: flex;
  margin: 0 auto;
  // padding: 100px 0;
  // padding-right: 135px;
  margin-bottom: 50px;
  max-width: 1240px;
  .product-item {
    @extend %width;
  }
  .swiper-container {
    box-sizing: border-box;
    padding: 70px 35px;
    padding-left: 45px;
  }

  .slider-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 25px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #a3bbc8;
    width: 46px;
    height: 46px;
    &:focus {
      outline: #a3bbc8;
    }
    svg {
      fill: #a3bbc8;
    }
    &:hover {
      opacity: 1;
    }
  }

  .swiper-button-prev {
    margin-right: 20px;
    svg {
      transform: rotate(180deg);
    }
  }

  .swiper-button-prev:after,
  .swiper-button-prev::before,
  .swiper-button-next::after,
  .swiper-button-next::before {
    content: '';
  }
}
