.mission {
  padding: 100px 0 120px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  &__image-box {
    width: 100%;
  }

  &__image {
    max-width: 100%;
    // object-fit: cover;
  }

  &__content {
    padding: 105px 0 95px;
    max-width: 570px;
    color: $color-font-2;
  }
  &__years, 
  &__title, 
  &__features, 
  &__text {
    margin-left: 20px;
  }
  &__years {
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
  }

  &__number {
    margin-right: 25px;
    line-height: 0.75;
    color: $color-font-8;
    font-size: 140px;
    @extend %font-rubik700;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    font-size: 16px;
    &:not(:last-child) {
       margin-bottom: 5px;       
    }
  }

  &__title {
    margin-bottom: 30px;
    line-height: normal;
    font-size: 36px;
    @extend %font-dmsans700;
  }

  &__text {
    position: relative;
    padding-bottom: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    @extend %font-rubik400;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0.1;
      background-color: #09316f;
      width: 500px;
      height: 3px;
      content: '';
    }
  }

  &__features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-right: 25px;
    padding-left: 55px;
  }

  &__feature {
    position: relative;
    text-align: center;
    line-height: 1.2;
    @extend %font-dmsans700;
    &::before {
      position: absolute;
      top: 50%;
      left: -55px;
      transform: translateY(-50%);
      content: '';
    }
    &--1 {
      &::before {
        background-image: url('../images/pages/about/mission-feature-1.svg');
        width: 37px;
        height: 38px;
      }
    }
    &--2 {
      &::before {
        left: -60px;
        background-image: url('../images/pages/about/mission-feature-2.svg');
        width: 42px;
        height: 40px;
      }
    }
    &--3 {
      &::before {
        background-image: url('../images/pages/about/mission-feature-3.svg');
        width: 41px;
        height: 41px;
      }
    }
  }

  &__amount {
    color: #243f4d;
    font-size: 36px;
  }

  &__subtitle {
    color: #4c4c4c;
    font-size: 16px;
  }
}