html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  line-height: 1.5;
  color: $color-font-2;
  font-size: 14px;
  @extend %font-rubik400;
}

.main {
  flex-grow: 1;
}
.container {
  margin: 0 auto;
  max-width: $maxWidthContainer + px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: $maxWidthWrapper + px;
}

.title {
  color: $color-font-8;
  font-size: 16px;
  @extend %font-dmsans700;
  
}

a {
  color: inherit;
}

.section-title {
  text-align: center;
  color: $color-font-9;
  font-size: 36px;
  @extend %font-dmsans700;
}

.icon {
  position: absolute;
}

.icon-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-box {
  position: relative;
  border-radius: 50%;
}

.section-title {
  text-align: center;
  color: $color-font-7;
  font-size: 36px;
  font-weight: bold;
  @extend %font-dmsans700;
}

