<div class="article-preview__item">
  <div class="article-preview__img-box">
    <img class="article-preview__img" src="images/home-articles/home-articles-@img.jpg" alt="">
  </div>
  <div class="article-preview__content">
    <div class="article-preview__category">
      @category
    </div>
    <a class="article-preview__link" href="#">
      <p class="article-preview__text">
        @text
      </p>
    </a>
    <div class="article-preview__info">
      <span class="article-preview__date">
        @date
      </span>
      <span class="article-preview__author">
        By @author
      </span>
    </div>
  </div>
</div>