.header {
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0 45px;
  }

  &__list {
    display: flex;
    align-items: center;
    color: $color-font-1;
    font-size: 15px;
    @extend %font-rubik500;
  }

  &__item {
    transition: border-bottom 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
    &:not(:last-child) {
      margin-right: 30px;
    }
    &:hover {
      border-color: $color-font-1;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__search-btn {
    margin-right: 20px;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    // background-color: $color-bg-1;
    @include setBgColor($color-bg-1);
  }

  &__actions-group {
    position: relative;
    margin-right: 20px;
    border-radius: 25px;
    width: 178px;
    min-height: 51px;
    @include setBgColor($color-bg-2);
    span {
      display: block;
      // num style
      position: absolute;
      border-radius: 50%;
      background-color: $color-icon-2;
      width: 16px;
      height: 16px;
      text-align: center;
      line-height: 16px;
      color: $color-font-2;
      font-size: 10px;
      @extend %font-dmsans400;
    }
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-decor-1;
      width: 1px;
      height: 32px;
      content: '';
    }
  }
  &__like-icon {
    top: 22px;
    left: 40px;
  }

  &__like-num {
    top: 13px;
    left: 52px;
  }

  &__cart-icon {
    top: 21px;
    right: 42px;
  }

  &__cart-num {
    top: 14px;
    right: 34px;
  }

  &__menu {
    border-radius: 50%;
    width: 51px;
    height: 51px;
    @include setBgColor($color-bg-3);
  }
}
