.features {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #fef7f0;
    padding: 40px 138px 40px 225px;

    &__item {
        max-width: 570px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 5px;
            left: -75px;
        }



        &:nth-child(1) {
            &:before {
                background-image: url('../../images/icons/features/feature-1.svg');
                width: 52px;
                height: 54px;
            }
        }

        &:nth-child(2) {
            padding-left: 40px;
            padding-top: 10px;
            margin-right: 70px;

            &:before {
                background-image: url('../../images/icons/features/feature-2.svg');
                width: 55px;
                height: 37px;
                top: 16px;
                left: -37px;
            }
        }

        &:nth-child(3) {
            &:before {
                background-image: url('../../images/icons/features/feature-3.svg');
                width: 54px;
                height: 53px;
            }
        }
    }


    &__title {
        font-size: 18px;
        @extend %font-dmsans700;
        color: #414141;
        margin-bottom: 5px;

    }

    &__text {
        @extend %font-dmsans400;
        font-size: 16px;
        line-height: 1.875;
        max-width: 220px;


    }
}